#map {
  width: 100vw;
  height: 100vh;
}

.map-clock {
  background: rgba(0,0,0,0.75);
  color: #fff;
  padding: 6px 10px;
  font: bold 14px monospace;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  pointer-events: none;
}
